.page
  .header
    h1.logo vegvisir
    span music reference
    .omnibox
      input(type='text', v-model='userInput')
    .examples
      p vegvisir is a music theory lookup tool. Try:
      .example
        .name
          span Chord names
        .control
          button.btn-text(@click='userInput = "F C F A D E"') F C F A D E
      .example
        .name
          span Key signatures
        .control
          button.btn-text(@click='userInput = "5 sharps"') 5 sharps
      .example
        .name
          span Chords
        .control
          button.btn-text(@click='userInput = "Fmaj7b5"') Fmaj7b5
      .example
        .name
          span Chord types
        .control
          button.btn-text(@click='userInput = "sus2"') sus2
      .example
        .name
          span Scales
        .control
          button.btn-text(@click='userInput = "D lydian"') D lydian
      .example
        .name
          span Scale types
        .control
          button.btn-text(@click='userInput = "mixolydian"') mixolydian
      .example
        .name
          span Circle of fifths
        .control
          button.btn-text(@click='userInput = "circle"') circle

  .results
    .title
      template(v-if="screenType == 'circle'")
        .type
          .label Circle of Fifths
        .desc
      template(v-if="screenType == 'key_signature'")
        .type
          .label Key Signature
        .desc
          h2 ${screenData.keySignature.major} major / ${screenData.keySignature.minor} minor
      template(v-if="screenType == 'chord_names'")
        .type
          .label Chord Names
        .desc
          h2 ${screenData.notes.map(n => n.name).join(' ')}
      template(v-if="screenType == 'chord_type'")
        .type
          .label Chord Type
        .desc
          h2 ${screenData.chord.formattedSymbol}
      template(v-if="screenType == 'scale_type'")
        .type
          .label Scale Type
        .desc
          h2 ${screenData.scale.name}
      template(v-if="screenType == 'scale_instance'")
        .type
          .label Scale
        .desc
          h2 ${screenData.fullName}
      template(v-if="screenType == 'chord_instance'")
        .type
          .label Chord
        .desc
          h2 ${screenData.root.name}${screenData.formattedSymbol}
    .grid
      .engraving-container(
        v-show='screenType != "circle"'
      )
        #engraving.engraving(
          v-show="['chord_instance', 'chord_names', 'key_signature', 'scale_instance'].includes(screenType)"
        )

      .info
        template(v-if="screenType == 'circle'")
          .circle
            img(src='/images/circle.svg')

        template(v-if="screenType == 'key_signature'")
          p ${screenData.number} ${screenData.accidental}

        template(v-if="screenType == 'chord_names'")
          p.expl These are possible names for this chord, with the most likely coming first.
          ul
            li(v-for='name in screenData.names') ${name}

        template(v-if="screenType == 'chord_type'")
          ul
            li(v-for='interval in screenData.intervals') ${interval.type}${interval.degree}
          h3 Fitting scales
          p.expl The following scale types contain all chord tones.
          ul(v-if='screenData.chord.scales().length')
            li(v-for='scale in screenData.chord.scales()') ${scale.name}
          p(v-else) No scales to be found. What a chord!

        template(v-if="screenType == 'scale_type'")
          ul.horizontal
            li(v-for='interval in screenData.prettyIntervals') ${interval}

        template(v-if="screenType == 'scale_instance'")
          ul
            li(v-for='note in screenData.scale') ${note.fullName}

        template(v-if="screenType == 'chord_instance'")
          ul.horizontal
            li(v-for='note in screenData.chord') ${note.name}
          h3 Fitting scales
          p.expl The following scales contain all chord tones.
          ul(v-if='screenData.scales().length')
            li(v-for='scale in screenData.scales()') ${scale.fullName}
          p(v-else) No scales to be found. What a chord!

  .credit
    a(href='https://vladh.net') vladh.net
